<div class="header">
  <h3 class="animate-charcter">ELECTRO DRUMS</h3>
</div>

<div class="divflx">
  <button mat-raised-button [id]="btnele[0]" class="drumbtn" (click)="palyTheMusic('1')">
    <span class="buttonFont">A/1</span> <br />
    <small> CLAP </small>
  </button>
  <button mat-raised-button class="drumbtn" (click)="palyTheMusic('2')">
    <span class="buttonFont">S/2</span> <br />
    <small> HIHAT </small>
  </button>
  <button mat-raised-button class="drumbtn" (click)="palyTheMusic('3')">
    <span class="buttonFont">D/3</span> <br />
    <small> KICK </small>
  </button>
  <button mat-raised-button class="drumbtn" (click)="palyTheMusic('4')">
    <span class="buttonFont">F/4</span> <br />
    <small> OPEN HAT </small>
  </button>
  <button mat-raised-button class="drumbtn" (click)="palyTheMusic('5')">
    <span class="buttonFont">G/5</span> <br />
    <small> BOOM </small>
  </button>
  <button mat-raised-button class="drumbtn" (click)="palyTheMusic('6')">
    <span class="buttonFont">H/6</span> <br />
    <small> RIDE </small>
  </button>
  <button mat-raised-button class="drumbtn" (click)="palyTheMusic('7')">
    <span class="buttonFont">J/7</span> <br />
    <small> SNARE </small>
  </button>
  <button mat-raised-button class="drumbtn" (click)="palyTheMusic('8')">
    <span class="buttonFont">K/8</span> <br />
    <small> TOM </small>
  </button>
  <button mat-raised-button class="drumbtn" (click)="palyTheMusic('9')">
    <span class="buttonFont">L/9</span> <br />
    <small> TINK </small>
  </button>
</div>

<!-- <audio #myaudio src="./assets/sounds/clap.wav"  controls>1111</audio> -->

<!-- <audio data-key="2" src="sounds/hihat.wav"></audio>
<audio data-key="3" src="sounds/kick.wav"></audio>
<audio data-key="4" src="sounds/openhat.wav"></audio>
<audio data-key="5" src="sounds/boom.wav"></audio>
<audio data-key="6" src="sounds/ride.wav"></audio>
<audio data-key="7" src="sounds/snare.wav"></audio>
<audio data-key="8" src="sounds/tom.wav"></audio>
<audio data-key="9" src="sounds/tink.wav"></audio> -->
